<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
{{- partial "head.html" . -}}

<body a="{{ $.Site.Params.theme_config.appearance | default " auto " }}" class="section-posts">
    <main class="page-content" aria-label="Content">
        <div class="w">
            <div class="post-meta">
                {{ partial "back_link.html" .}}
            </div>
            <div class="content-wrapper">
                {{- block "main" . }}{{- end }}
            </div>
            {{ partial "footer.html" }}
        </div>
    </main>
</body>
{{- if .Params.custom_js -}} {{- range .Params.custom_js -}} {{ $js := resources.Get (print "js/" . ".js") }}
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
{{- end -}} {{- end -}}

</html>